// 訂單確認
.order-bg-lightgray{
  background: #f0f0f0;
}
.order-three-sqs{
  .sq-item{
    padding: 18px 0px;
    text-align: center;
    background-color: rgba($color: #495057, $alpha: .13);
    color: $gray-600;
    @include media-breakpoint-up(sm) {
      letter-spacing: 1px;
    }
    p{
      line-height: 1.5;
    }
    &.active{
      background-color: #72787e;
      color: $gray-100;
    }
  }
}
.order-info{
  .order, .customer{
    color: $gray-700;
  }
  .header{
    margin-bottom: 24px;
    line-height: 2;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  .btn-edit{
    position: absolute;
    top: 17%;
    right: 0%;
    background-color: transparent;
    color: $gray-700;
    padding: 6px 8px;
    border: $gray-700 solid 1px;
    transition: all .3s;
    // 覆蓋原本效果用
    &:hover{
      color: $gray-700;
    }
    @include media-breakpoint-up(lg) {
      &:hover{
        border-color: $gray-600;
        background-color: $gray-600;
        color: white;
      }
    }
  }
  .order{
    .order-img{
      height: 80px;
      width: 80px;
    }
  }
  .btn-coupon, .btn-order{
    border-radius: 0%;
    background-color: $gray-600;
    color: white;
    letter-spacing: 1px;
    transition: all .3s;
    &:hover{
      background-color: $gray-700;
    }
    &:focus{
      box-shadow: none;
    }
  }
  .btn-order{
    padding: 16px 12px;
  }
  .form-item{
    margin-bottom: 20px;
    width: 100%;
  }
  .form-control{
    padding: 0.475rem 0.75rem;
    border-radius: 0%;
    background-color: #f0f0f0;
    color: $gray-700;
    border-color: $gray-500;
    &::placeholder{
      color: $gray-600;
    }
    &:focus{
      border-color: black;
      box-shadow: none;
    }
    &.is-invalid{
      border-color: #dc3545;
    }
  }
  textarea{
    height: 90px;
  }
  
}

// 訂單成立
.order-placed{
  color: $gray-700;
  .header{
    margin-bottom: 24px;
    line-height: 2;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  .order-details{
    .fa-chevron-circle-down{
      color: $gray-600;
      transition: all .5s;
      &:hover{
        color: $gray-700;
      }
      &.show{
        transform: rotate(-180deg);
      }
    }
    .products-details{
      overflow: hidden;
      transition: all .5s;
      .order-img{
        height: 80px;
        width: 80px;
      }
    }
  }
  .btn-payment{
    padding: 12px;
    border-radius: 0%;
    background-color: $gray-600;
    color: white;
    letter-spacing: 1px;
    transition: all .3s;
    &:hover{
      background-color: $gray-700;
    }
    &:focus{
      box-shadow: none;
    }
  }
}

// 付款成功
.payment-success{
  color: $gray-700;
  .payment-success-bg{
    background-color: rgba($color: #495057, $alpha: .13);
  }
  .btn-back-home, .btn-back-shop{
    padding: 8px 0;
  }
  .btn-back-home{
    text-align: center;
    border-radius: 0;
    background-color: transparent;
    color: $darkgray;
    border: $darkgray solid 1px;
    transition: all .3s;
    &:hover{
      border-color: $gray-600;
      background-color: $gray-600;
      color: white;
    }
  }
  .btn-back-shop{
    text-align: center;
    border-radius: 0%;
    background-color: $gray-600;
    color: white;
    letter-spacing: 1px;
    transition: all .3s;
    &:hover{
      background-color: $gray-700;
    }
  }
}
