
.cate-link{
  padding: 8px 11px;
  color: $gray-700;
  border: 1px solid $gray-500;
  transition: all .3s;
  &.active, &:hover{
    color: white;
    background-color: $gray-700;
  }
  @include media-breakpoint-up(ss) {
    padding: 8px 20px;
  }
}



// ProductCard元件
.product-img{
    overflow: hidden;
    img{
      // max-width: 100%;
      // min-height: 220px;
      width: 100%;
      height: 220px;
      object-fit: cover;
      object-position: top center;
      transition: all 0.3s;
      @include media-breakpoint-up(sm) {
          height: 250px;
        }
      @include media-breakpoint-up(lg) {
          height: 300px;
      }
      // @include media-breakpoint-up(lg) {
      //   min-height: 300px;
      // }
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
    .fa-heart{
      right: 4%;
      top: 3%;
      font-weight: bold;
      padding: 10px;
      color:rgba($color: #bdbdbd, $alpha: .8);
      transition: all 0.3s;
      &:hover{
        color: $primary;
      }
    }
    .on-sale{
      background-color: rgba($color: #fff, $alpha: .65);
      padding: 8px 12px;
      right: 16px;
      top: 16px;
    }
  }
.product-cart-btn{
  display: inline-block;
  background-color: transparent;
  color: $darkgray;
  padding: 8px;
  border: $darkgray solid 1px;
  transition: all .3s;
  // 覆蓋原本效果用
  &:hover{
    color: $darkgray;
  }
  &.disabled{
    border-color: $gray-400;
    background-color: $gray-400;
    color: white;
    pointer-events: none;
  }
  @include media-breakpoint-up(lg) {
    &:hover{
      border-color: $gray-600;
      background-color: $gray-600;
      color: white;
    }
  }
}


// 單一產品頁面
.ind-pro{
  .photo-lg{
    height: 250px;
    @include media-breakpoint-up(md) {
      //height: calc(30vw - 2em);
      max-height: 400px;
      min-height: 340px;
    }
  }
  .photo-sm-wrap{
    cursor: pointer;
    .photo-sm{
      min-height: 83px;
      @include media-breakpoint-up(lg) {
        min-height: 113px;
      }
    }
    .shade-layer{
      background-color: rgba($color: #000, $alpha: .35);
      opacity: 0;
      transition: all .1s;
      &.show{
        opacity: 1;
      }
    }
  }
  

  .ind-pro-nav{
    font-size: 14px;
    color: $fade;
    //margin-right: 8px;
    &:hover{
      color: $darkgray;
    }
  }
  .ind-pro-content{
    color: $gray-700;
    .aste{
      margin-right: 4px;
      line-height: 20px;
      font-size: 14px;
      color: $fade;
      vertical-align: text-bottom;
    }
    .lh-custom{
      line-height: 1.5;
    }
  }
  .input-ind-pro{
    display: block;
    width: 100%;
    padding: 14px;
    line-height: 1.5;
    background: transparent;
    color: $gray-700;
    border: 1px solid $gray-400;
    transition: all .3s;
    &:focus-visible{
      outline: transparent;
    }
    &:hover{
      border: 1px solid $gray-700;
    }
    &::placeholder{
      color: $gray-700;
    }
    &:focus~label, &:not(:placeholder-shown)~label{
      opacity: .6;
      transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }
  }
  .btn-ind-pro{
    padding: 14px 12px;
    border-radius: 0;
    background-color: $gray-600;
    color: white;
    border-color: transparent;
    line-height: 1.5;
    letter-spacing: 1px;
   // border: rgba($color: black, $alpha: .3) solid 1px;
    transition: all .3s;
    &:hover{
      background-color: $gray-700;
    }
    &.disabled{
      background-color: $gray-400;
      pointer-events: none;
    }
  }
}
.guide{
  color: $gray-700;
  background-color: $gray-100;
  //padding: 0 30px;
  @include media-breakpoint-up(md) {
   // padding: 0px 0px 0px 30px;
  }
  .guide-list-item{
    display: flex;
    margin-bottom: 10px;
    .guide-text{
      line-height: 1.5;
    }
  }
  .fa-envira{
    margin-right: 6px;
    line-height: 20px;
    font-size: 12px;
    color: $fade;
    vertical-align: text-bottom;
  }
}